@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Fraunces:opsz,wght@9..144,100;9..144,700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700;800&family=Lexend+Deca&family=Outfit:wght@100;200;300&family=Plus+Jakarta+Sans:wght@500;800&family=Rubik:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: hsl(228, 33%, 97%);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 680px;
}

.content {
    margin-top: 15px;
    padding: 12px;
}

.container .content {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.content .left .button {
    display: flex;
    flex-direction: column;
    padding: 12px 8px;
    border-radius: 8px;
    background-color: hsl(228, 33%, 97%);
}

.content .left .button .increment,
.content .left .button .decrement {
    background-color: hsl(228, 33%, 97%);
}

.content .left .button button {
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.content .left .button .number {
    color: hsl(238, 40%, 52%);
    font-weight: 800;
    text-align: center;
    padding: 10px 0;
}

.content .right {
    margin-left: 15px;
}

.content .right .top {
    display: flex;
    justify-content: space-between;
}

.content .right .top img {
    height: 35px;
}

.content .right .top .info {
    width: 100%;
    display: flex;
    align-items: center;
}

.content .right .top .info p {
    margin-left: 15px;
    display: inline;
}

.content .right .top .info .nameAvatar {
    color: hsl(212, 24%, 26%);
    font-weight: bold;
}

.content .right .top .replyes {
    display: flex;
    align-items: center;
}

.content .right .top .replyes img {
    height: 12px;
    margin-right: 8px;
    cursor: pointer;
}

.content .right .top .replyes .reply {
    color: hsl(238, 40%, 52%);
    font-weight: 600;
    cursor: pointer;
}

.content .right .top .info .time,
.content .right .top .info .time {
    color: hsl(211, 10%, 45%);
}

.content .right .bottom .text {
    color: hsl(211, 10%, 45%);
}

.container .replySection .replyContent {
    border-left: 2px solid hsla(211, 10%, 45%, 0.1);
    margin-left: 30px;
    padding-left: 25px;
}

.container .replySection .replyContent .bottom .text .nameToReply {
    color: hsl(238, 40%, 52%);
    font-weight: 700;
}

.container .replySection .replyContent .content .right .top .info .you {
    color: #fff;
    background-color: hsl(238, 40%, 52%);
    padding: 3px 5px;
    font-size: 12px;
    margin-left: 10px;
}

.container .addcomment {
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    margin-top: 12px;
    border-radius: 10px;
}

.container .addcomment .sectionComment {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.container .addcomment .inputComment {
    padding: 20px 0px 55px 20px;
    width: 75%;
    border: 2px solid hsla(211, 10%, 45%, 0.1);
    cursor: pointer;
    border-radius: 10px;
}

.container .addcomment .inputComment::placeholder {
    color: hsl(211, 10%, 45%);
    font-size: 16px;
}

.container .addcomment .rightImageAvatar img {
    height: 40px;
}

.container .addcomment .rightImageAvatar {
    margin-right: 8px;
}

.container .addcomment .sendComment {
    margin-left: 15px;
    height: 100%;
    padding: 15px 30px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(238, 40%, 52%);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.replySection .replyContent .content .right .top .deleteEdit {
    display: flex;
}

.replySection .replyContent .content .right .top .deleteEdit .delete,
.replySection .replyContent .content .right .top .deleteEdit .edit {
    display: flex;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}

.replySection .replyContent .content .right .top .deleteEdit .delete img,
.replySection .replyContent .content .right .top .deleteEdit .edit img {
    height: 12px;
    margin-right: 8px;
}

.replySection .replyContent .content .right .top .deleteEdit .delete {
    color: hsl(358, 79%, 66%);
}

.replySection .replyContent .content .right .top .deleteEdit .edit {
    margin-left: 25px;
    color: hsl(238, 40%, 52%);
}


/* MODAL*/

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentModal {
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    width: 350px;
    border-radius: 10px;
}

.contentModal .title {
    margin-bottom: 20px;
}

.contentModal .text {
    color: hsl(211, 10%, 45%);
}

.contentModal .btn {
    display: flex;
    justify-content: space-between;
}

.contentModal .btn .btnCancel button {
    background-color: hsl(211, 10%, 45%);
    color: hsl(0, 0%, 100%);
    border: none;
}

.contentModal .btn .btnDelete button {
    background-color: hsl(358, 79%, 66%);
    color: hsl(0, 0%, 100%);
}

.contentModal .btn button {
    border: none;
    padding: 12px 28px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}