@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Fraunces:opsz,wght@9..144,100;9..144,700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700;800&family=Lexend+Deca&family=Outfit:wght@100;200;300&family=Plus+Jakarta+Sans:wght@500;800&family=Rubik:wght@400;500;700&display=swap');
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    background-color: hsl(228, 33%, 97%);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 660px;
}

.content {
    margin-top: 15px;
    padding: 12px;
}

.content .left {
    display: flex;
    align-items: center;
}

.container .content {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

.content .left .button {
    display: flex;
    flex-direction: column;
    padding: 12px 8px;
    border-radius: 8px;
    background-color: hsl(228, 33%, 97%);
}

.content .left.button .increment,
.content .left.button .decrement {
    color: hsl(211, 10%, 45%);
    font-weight: 700;
}

.content .left .button button {
    border: none;
    cursor: pointer;
    background-color: hsl(228, 33%, 97%);
    color: hsl(211, 10%, 45%);
    font-weight: bolder;
    font-size: 16px;
    opacity: 0.6;
}

.content .left .button .number {
    color: hsl(238, 40%, 52%);
    font-weight: 800;
    text-align: center;
}

.content .right {
    width: 600px;
    margin-left: 15px;
}

.content .right .top {
    display: flex;
    justify-content: space-between;
}

.content .right .top img {
    height: 35px;
}

.content .right .top .info {
    width: 100%;
    display: flex;
}

.content .right .top .info p {
    margin-left: 15px;
    display: inline;
}

.content .right .top .info .nameAvatar {
    color: hsl(212, 24%, 26%);
    font-weight: bold;
}

.content .right .top .replyes {
    display: flex;
    align-items: center;
}

.content .right .top .replyes img {
    height: 12px;
    margin-right: 8px;
}

.content .right .top .replyes .reply {
    color: hsl(238, 40%, 52%);
    font-weight: 600;
}

.content .right .top .info .time,
.content .right .top .info .time {
    color: hsl(211, 10%, 45%);
}

.content .right .bottom .text {
    color: hsl(211, 10%, 45%);
}

.container .replySection .replyContent {
    border-left: 2px solid hsla(211, 10%, 45%, 0.1);
    margin-left: 30px;
    padding-left: 25px;
}

.container .replySection .replyContent .bottom .text .nameToReply {
    color: hsl(238, 40%, 52%);
    font-weight: 700;
}

.container .replySection .replyContent .content .right .top .info .you {
    color: #fff;
    background-color: hsl(238, 40%, 52%);
    padding: 3px 5px;
    font-size: 12px;
    margin-left: 10px;
}

.container .addcomment {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    margin-top: 15px;
}

.container .addcomment .sectionComment {
    display: flex;
    width: 100%;
}

.container .addcomment .inputComment {
    padding-bottom: 80px;
    width: 100%;
}

.container .addcomment .rightImageAvatar img {
    height: 40px;
}