* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 333px;
    height: 560px;
    background-color: hsl(216, 50%, 16%);
    padding: 22px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 29px 15px;
}

.imgCard img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.ETH-time {
    display: flex;
}

.content {
    margin-top: 16px;
}

.content .description {
    margin-top: 16px;
    margin-bottom: 16px;
}

.content .ETH-time {
    width: 100%;
    justify-content: space-between;
}

.content .ETH-time .ETH {
    width: 50%;
}

.content .ETH-time .ETH p {
    display: inline;
    font-size: 18;
    color: hsl(178, 100%, 50%);
    margin-left: 4px;
}

.content .ETH-time .time p {
    display: inline;
    font-size: 18;
    color: hsl(215, 51%, 70%);
    margin-left: 4px;
}

.content .ETH-time .time {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    background-color: hsl(215, 32%, 27%);
    width: 100%;
    height: 1px;
    margin-top: 20px;
}

.footer {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.footer .avatar img {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 20px;
}

.title h1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.description p {
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
}

.footer .softBlue {
    color: hsl(215, 51%, 70%);
}

.footer .white {
    color: hsl(0, 0%, 100%);
}